@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 15px;
  -webkit-tap-highlight-color: transparent;
  user-select: none; /* Prevent selecting ui text when dragging */
}

html, body {
  height: 100%;
}

body {
  /* Prevent pull-down-to-refresh gesture */
  overscroll-behavior-y: contain;
  background-image: url('../img/ruleta-2.jpg'); /* Ruta de tu imagen de fondo */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  /* Prevent iOS rubber-band effect */
  position: fixed;
  width: 100%;

  /* Prevent browser from handling touch events */
  touch-action: none;

  display: flex;
  flex-direction: column;
  justify-items: stretch;
  align-items: stretch;
}

.wheel-wrapper {
  /* Hide UI during page load */
  visibility: hidden;

  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* Estilos para ocultar la barra por defecto */
.gui-wrapper {
  position: fixed; /* Fijar la barra en la parte superior */
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #333;
  color: #fff;
  display: none;
  flex-direction: column;
  gap: 10px;
  opacity: 0; /* Comienza oculta */
  transition: opacity 0.5s ease-in-out; /* Transición suave para aparecer/desaparecer */
  z-index: 1000; /* Asegúrate de que esté por encima del resto del contenido */
}

.gui-wrapper.visible {
  opacity: 1; /* Mostrar la barra */
}

.gui-wrapper > div {
  display: flex;
  flex-direction:row;
  gap: 10px;
  align-items: center;
}

select {
  padding: 2px;
}

label {
  margin-right: 5px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  max-width: 100px;
}
@keyframes vibrate {
  0% { transform: translate(0); }
  25% { transform: translate(2px, 2px); }
  50% { transform: translate(-2px, -2px); }
  75% { transform: translate(2px, -2px); }
  100% { transform: translate(0); }
}

.vibrate {
  animation: vibrate 0.1s infinite; /* Efecto de vibración cada 0.1 segundos */
}

.start-button {
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: 300px;
  height: 300px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

/* Efecto de hover solo si el botón no está presionado */
.start-button:not(.pressed):hover {
  transform: scale(1.05); /* Aumentar ligeramente cuando el mouse esté sobre el botón */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Estado de presionado o clase 'pressed' */
.start-button:active,
.start-button.pressed {
  transform: scale(0.9); /* Reducir el tamaño para simular el hundimiento */
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3); /* Sombra interna para efecto de presión */
  transition: transform 0.05s ease-in-out, box-shadow 0.05s ease-in-out;
}